<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:href="@{styles.css}" type="text/css" rel="stylesheet">
    <link th:href="@{mystyles.css}" type="text/css" rel="stylesheet">


    <title th:text="Logowanie">Logowanie</title>

</head>
<body>

    <div class="container">
        <div class="main-header" th:replace="fragments/header :: header"></div>
        <div class="menu" th:replace="fragments/menu :: menu"></div>

        <div class="centre">
            Zalogowany użytkownik: <p th:text="${currentUser}">1</p>
            Saldo: <p th:text="${saldo}"></p>
            Rozegranych gier: <p th:text="${numberGame}"></p>
            Ilość trójek: <p th:text="${amountOfThree}"></p>
            Ilość czwórek: <p th:text="${amountOfFour}"></p>
            Ilość piątek: <p th:text="${amountOfFive}"></p>
            Ilość szóstek: <p th:text="${amountOfSix}"></p>

            <label for="add">
                <p>Możesz doładować kwote z zakresu 0-200</p>
                <form id="add" th:action="@{/addMoney}" method="post">
                    Dodaje: <input type="text" name="chargeSaldo" required>
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </form>
            </label>

        </div>

    </div>

</body>
</html>