<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:href="@{styles.css}" type="text/css" rel="stylesheet">
    <link th:href="@{mystyles.css}" type="text/css" rel="stylesheet">


    <title th:text="Logowanie">Logowanie</title>

</head>
<body>

<div class="container">

    <div class="main-header" th:replace="fragments/header :: header"></div>
    <div class="menu" th:replace="fragments/menu :: menu"></div>

    <div class="centre">

        <table>

            <tr>
                <td>targecik: </td>
                <td th:text="${target}">tu liczby ktore wypadly</td>
            </tr>

            <tr>
                <td>wylosowane: </td>
                <td th:text="${wylosowane}">tu znajda sie wylosowane liczby</td>
            </tr>

            <tr>
                <td>Trafione liczby: </td>
                <td th:text="${trafione}">lista liczb ktore trafilem</td>
            </tr>

            <tr>
                <td>Wygrywasz: </td>
                <td th:text="${winMoney}"></td>
            </tr>

            <tr>
                <td>Saldo: </td>
                <td th:if="${saldo > 0}" th:text="${saldo}">aktualne saldo</td>
                <td th:text="${info}"></td>
            </tr>

        </table>

        <form action="/zaklad" method="get">

            <!--<input type="button" value="Typuje swoje liczby"> <br />-->

            <a href="/zaklad" style="text-decoration: none">
                <input type="button" value="Generuj liczby">
            </a>

        </form>

    </div>
</div>

</body>
</html>