<div class="cnt-center" th:fragment="account-management" xmlns:th="http://www.thymeleaf.org">

    <div class="content-top">
        <div class="title">Zarządzanie kontem</div>
    </div>

    <div class="content-bg">
        <div class="content-txt">

            <table>

                <tbody>
                <tr>

                    <td width="100%"></td>
                    <td>
                        <table cellspacing="0" cellpadding="0" border="0">
                            <tbody>

                            <tr>
                                <td>
                                <form th:action="@{/logout}" method="get">
                                    <input class="buttonText" type="image" name="Logout" alt="wyloguj" src="images/logout-button.png">
                                </form>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </td>

                </tr>
                </tbody>

            </table>

            <table width="100%" cellspacing="1" cellpadding="4">
                <tbody>
                <tr style="background-color: #505050">
                    <td class="white" colspan="2">
                        <b>Informacje główne</b>
                    </td>
                </tr>
                <tr style="background-color: #d4c0a1">
                    <td class="table-desc">Email:</td>
                    <td style="width:90%" th:text="${email}">email1@wp.pl</td>
                </tr>
                <tr style="background-color: #f1e0c6">
                    <td class="table-desc">Konto utworzono:</td>
                    <td th:text="${createAccount}">1 Maj 2019, 21:15:10</td>
                </tr>
                <tr style="background-color: #d4c0a1">
                    <td class="table-desc">Ostatni login:</td>
                    <td th:text="${lastLogin}">2 Maj 2019, 16:35:04</td>
                </tr>
                <tr style="background-color: #f1e0c6">
                    <td class="table-desc">Saldo</td>
                    <td><b><font color="green" th:text="${saldo}"></font></b></td>
                </tr>
                <tr style="background-color: #d4c0a1">
                    <td class="table-desc">Poziom</td>
                    <td th:text="${level} + '. Do nastepnego ' + ${toNextLevel} + ' punktow doswiadczenia.'"></td>
                </tr>

                <tr>
                    <td>
                        <a th:href="@{/zaklady}">
                            <img src="images/button-dodaj-liczby.png" height="30px">
                        </a>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <a th:href="@{/mojeliczby}">
                                        <img src="images/button-dodane-liczby.png" height="30px">
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/wyniki}">
                                        <img src="images/button-sprawdz.png" height="30px">
                                    </a>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
                </tbody>
            </table>

            <table width="100%" cellspacing="1" cellpadding="4" style="margin-top: 20px">
                <tbody>
                <tr style="background-color: #505050">
                    <td class="white" colspan="2">
                        <b>Informacje o grze - Ilość</b>
                    </td>
                </tr>
                <tr style="background-color: #d4c0a1">
                    <td class="table-desc">trafionych 3:</td>
                    <td style="width:90%" th:text="${amountOfThree}"></td>
                </tr>
                <tr style="background-color: #f1e0c6">
                    <td class="table-desc">trafionych 4:</td>
                    <td th:text="${amountOfFour}"></td>
                </tr>
                <tr style="background-color: #d4c0a1">
                    <td class="table-desc">trafionych 5:</td>
                    <td th:text="${amountOfFive}"></td>
                </tr>
                <tr style="background-color: #f1e0c6">
                    <td class="table-desc">trafionych 6:</td>
                    <td th:text="${amountOfSix}"></td>
                </tr>
                <tr style="background-color: #d4c0a1">
                    <td class="table-desc">rozegranych gier:</td>
                    <td th:text="${numberGame}"></td>
                </tr>
                <tr style="background-color: #f1e0c6">
                    <td class="table-desc">Punkty doświadczenia:</td>
                    <td th:text="${exp}"></td>
                </tr>
                <tr>
                <td>
                    <a th:href="@{/history}">
                        <img src="images/button-history-game.png" height="30px">
                    </a>
                </td>
                </tr>
                </tbody>
            </table>

            <table width="100%" cellspacing="1" cellpadding="4" style="margin-top: 20px">
                <tbody>
                <tr style="background-color: #505050">
                    <td class="white" colspan="2">
                        <b>Statystyki gry</b>
                    </td>
                </tr>
                <tr style="background-color: #d4c0a1">
                    <td class="table-desc">Na gry wydano:</td>
                    <td style="width:90%" th:text="${expense} + ' pln'">552 pln</td>
                </tr>
                <tr style="background-color: #f1e0c6">
                    <td class="table-desc">Z trafionych liczb uzbierano</td>
                    <td th:text="${addup} + ' pln'">305,60 pln</td>
                </tr>
                <tr style="background-color: #d4c0a1">
                    <td class="table-desc">Rezultat:</td>
                    <td><b>
                        <font color="red" th:text="'Stracono ' + ${result} + ' pln'">Stracono 246,40 pln</font>
                    </b></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="content-bot"></div>

</div>