<div class="cnt-center" th:fragment="bet-register" xmlns:th="http://www.thymeleaf.org">

    <div class="content-top">
        <div class="title">Typowanie liczb</div>
    </div>

    <div class="content-bg">
        <div class="content-txt">
                <table width="100%" cellspacing="1" cellpadding="4" border="0">
                    <tbody>
                    <tr>
                        <td style="font-weight: bold; color: white" bgcolor="#505050">
                            <b>Obstaw 6 swoich liczb</b>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#d4c0a1">
                            <form th:action="@{/zakladyinput}" method="post" th:object="${numbersForm}">
                            <table cellpadding="1" border="0">
                                <tbody>
                                <tr>
                                    <td>Liczby:</td>
                                    <td>
                                        <input th:field="*{number1}" value="" size="2" maxlength="2" style="padding-left: 10px">
                                        <input th:field="*{number2}" value="" size="2" maxlength="2" style="padding-left: 10px">
                                        <input th:field="*{number3}" value="" size="2" maxlength="2" style="padding-left: 10px">
                                        <input th:field="*{number4}" value="" size="2" maxlength="2" style="padding-left: 10px">
                                        <input th:field="*{number5}" value="" size="2" maxlength="2" style="padding-left: 10px">
                                        <input th:field="*{number6}" value="" size="2" maxlength="2" style="padding-left: 10px">
                                    </td>
                                    <td>
                                        <input type="image" name="submit" src="images/button-send.png" width="120" height="22" border="0">
                                    </td>
                                </tr>
                                </tbody>
                                <tr>
                                    <font color="red" th:text="${range}"></font>
                                    <font color="red" th:text="${duplicate}"></font>
                                </tr>
                            </table>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td bgcolor="#d4c0a1">
                            <form th:action="@{/zaklady-generate}" method="post" th:object="${numbersForm}">
                                <p th:text="'Zakladow do wyslania: ' + ${saldo}"></p>
                                <table cellpadding="1" border="0">
                                    <tbody>
                                    <tr>
                                        <input type="image" src="images/button-generate.png" width="120" height="35">
                                    </tr>
                                    </tbody>
                                </table>
                            </form>

                        </td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </div>

    <div class="content-bot"></div>

</div>