<div class="cnt-center" th:fragment="history-game" xmlns:th="http://www.thymeleaf.org">

    <style>
    .stats_table {
        counter-reset: tableCount;
    }
    .position:before {
        content: counter(tableCount);
        counter-increment: tableCount;
    }
    .color:nth-of-type(odd) {
        background-color:#f1e0c6;
    }
    .color:nth-of-type(even){
        background-color:#d4c0a1;
    }
</style>

    <div class="content-top">
        <div class="title">Historia gry</div>
    </div>

    <div class="content-bg">
        <div class="content-txt">

            <table class="stats_table" width="100%" cellspacing="1" cellpadding="4" border="0">

                <tbody>

                <tr bgcolor="#505050">
                    <td colspan="9" style="font-weight: bold; color: white">
                        Gracze z największym szczęściem wirtualnego miliona
                    </td>
                </tr>

                <tr bgcolor="#d4c0a1">
                    <td class="whites">#</td>
                    <td class="whites">Data gry</td>
                    <td class="whites"><center>Ilosc: gier</center></td>
                    <td class="whites"><center>Trojek</center></td>
                    <td class="whites"><center>Czworek</center></td>
                    <td class="whites"><center>Piątek</center></td>
                    <td class="whites"><center>Szóstek</center></td>
                    <td class="whites"><center>Zdobyty exp</center></td>
                    <td class="whites"><center>Zdobyte coinsy</center></td>
                </tr>

<!--                <tr class="color" th:each="users: ${userDto}">-->

<!--                    <td class="position">0</td>-->
<!--                    <td th:text="${users.username}">0</td>-->
<!--                    <td th:text="${users.numberGame}" align="center">0</td>-->
<!--                    <td th:text="${users.amountOfThree}" align="center">0</td>-->
<!--                    <td th:text="${users.amountOfFour}" align="center">0</td>-->
<!--                    <td th:text="${users.amountOfFive}" align="center">0</td>-->
<!--                    <td th:text="${users.amountOfSix}" align="center">0</td>-->
<!--                    <td th:text="${users.level}" align="center">0</td>-->
<!--                    <td th:text="${users.experience}" align="center">0</td>-->
<!--                </tr>-->
                <tr>
                    <td class="position"></td>
                    <td>2019-05-28</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

    <div class="content-bot"></div>

</div>