<div class="cnt-center" th:fragment="cnt-center" xmlns:th="http://www.thymeleaf.org">

    <div class="content-top">
        <div class="title">Ostatnie zmiany</div>
    </div>

    <div class="content-bg">
        <div class="content-txt">
            <div class="pageheader">Data - tytuł</div>
            <div class="news-txt">
                <p th:text="${'Wyniki ostatniego losowania: ' + result}"></p>
                <br>
                <p>Wygrana za trojke - 24 zl</p>
                <p th:text="'Wygrana za czworke - ' + ${fourth} + ' pln'"></p>
                <p th:text="'Wygrana za piatke - ' + ${fifth}  + ' pln'"></p>
                <p th:text="'Wygrana za szostke - ' + ${sixth}  + ' pln'"></p>
                <br>
                <br>

            </div>
        </div>
    </div>

    <div class="content-bot"></div>

</div>