<div class="cnt-center" th:fragment="search-player" xmlns:th="http://www.thymeleaf.org">

    <div class="content-top">
        <div class="title">Wyszukiwanie gracza</div>
    </div>

    <div class="content-bg">
        <div class="content-txt" th:fragment="search">

            <form onsubmit="" method="post" th:action="@{/player}" th:object="${nick}">
                <table width="100%" cellspacing="1" cellpadding="4" border="0">
                    <tbody>
                    <tr>
                        <td class="white" colspan="2" bgcolor="#505050">
                            <b>Wyszukaj gracza</b>
                        </td>
                    </tr>

                    <font color="red" th:text="${usernameNotExist}"></font><br><br>

                    <tr bgcolor="#d4c0a1">
                        <td width="150" valign="top"><b>Nick gracza:</b></td>
                        <td colspan="2">
                            <input type="text" value="" size="30" maxlength="50" th:field="*{username}">
                        </td>
                    </tr>

                    </tbody>
                </table>

                <br>

                <table width="100%" border="0">
                    <tbody>
                    <tr>
                        <td valign="top" align="center">
                            <input type="image" name="I Agree" src="images/button-search.png" width="120" height="36" border="0">
                        </td>
                        <td align="center"></td>
                        <td align="center"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <div class="content-bot"></div>

</div>