<div class="cnt-center" th:fragment="send-email-check-form" xmlns:th="http://www.thymeleaf.org">

    <div class="content-top">
        <div class="title">Wysylanie maila</div>
    </div>

    <div class="content-bg">
        <div class="content-txt">
            Podaj maila na którego zostanie wysłany link do ustawienia nowego hasła
            <p th:text="${mail}"></p>
            <br>

            <form onsubmit="" method="post" th:action="@{/send-mail}" th:object="${mail}">
                <table width="100%" cellspacing="1" cellpadding="4" border="0">
                    <tbody>
                    <tr>
                        <td class="white" colspan="2" bgcolor="#505050">
                            <b>Email do nowego hasła</b>
                        </td>
                    </tr>

                    <tr bgcolor="#d4c0a1">
                        <td width="150" valign="top"><b>Mail</b></td>
                        <td colspan="2">
                            <input type="text" value="" size="30" maxlength="50" th:field="*{address}">
                        </td>
                    </tr>

                    </tbody>
                </table>

                <br>

                <table width="100%" border="0">
                    <tbody>
                    <tr>
                        <td valign="top" align="center">
                            <input type="image" name="I Agree" src="images/create-button.png" width="120" height="36" border="0">
                        </td>
                        <td align="center"></td>
                        <td align="center"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <div class="content-bot"></div>

</div>