<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:href="@{styles.css}" type="text/css" rel="stylesheet">
    <link th:href="@{mystyles.css}" type="text/css" rel="stylesheet">


    <title th:text="Logowanie">Logowanie</title>

</head>
<body>

<div class="container">

    <div class="main-header" th:replace="fragments/header :: header"></div>
    <div class="menu" th:replace="fragments/menu :: menu"></div>

    <div class="centre">
        W ostatnim losowaniu padło: <br>
        <p th:text="${result}"></p>
<!--        <p th:text="${wins}"></p>-->

    </div>

    <!--to co tutaj wyswietlam bedzie wyswietlane w templatce konta uzytkownika-->
<!--    <div class="centre">-->
<!--        Zalogowany użytkownik: <p th:text="${currentUser}">1</p>-->
<!--        Saldo: <p th:text="${saldo}"></p>-->

<!--        <label for="add">-->
<!--            <p>Możesz doładować kwote z zakresu 0-200</p>-->
<!--            <form id="add" th:action="@{/addMoney}" method="post">-->
<!--                Dodaje: <input type="text" name="chargeSaldo" required>-->
<!--                <button type="submit" class="btn btn-primary">Dodaj</button>-->
<!--            </form>-->
<!--        </label>-->

<!--    </div>-->
    <div class="row">
        <a href="/logout">Wyloguj</a>
    </div>

</div>

</body>
</html>